@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/mixins';

:root {
  --bs-primary: #872240;
  --bs-link-color: #872240;
  --bs-link-hover-color: #872240;
  --bs-btn-font-family: 'Montserrat', sans-serif;
}
