
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


:root {
  --bs-primary: #872240;
  --bs-link-color: #872240;
  --bs-link-hover-color: #872240;
  --font-family-montserrat: 'Montserrat', sans-serif;
}

$font-primary: 'Montserrat', sans-serif;
$primary-color: #872240;


body{
  background-color: rgb(223, 217, 217);
  font-family: $font-primary;
}

.form-control{
  font-size: 13px;
  height: 45px;
  font-family: $font-primary;
}

th{
  font-family: $font-primary;
  font-weight:600;
  font-size: 13px;
}

